@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
i.icon {
  display: block;
  width: 100%;
  height: auto;
}
i.icon::before {
  content: "";
  display: block;
  padding-bottom: 100%;
}
i.icon-send {
  background-image: url("../images/icon_send.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
i.icon-more {
  background-image: url("../images/icon_more.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
i.icon-add {
  background-image: url("../images/icon_add.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
i.icon-info {
  background-image: url("../images/icon_info.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
i.icon-back {
  background-image: url("../images/icon_back.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
i.icon-dropdown {
  background-image: url("../images/icon_dropdown.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.t-wrapper {
  padding-left: 138px;
}
@media screen and (max-width: 500px) {
  .t-wrapper {
    padding-left: 0;
  }
}
.t-container {
  margin: 0 auto;
  padding: 50px 10px;
  max-width: 1200px;
}

.table {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 25px 50px 50px;
}
@media screen and (max-width: 1200px) {
  .table {
    padding: 25px 25px 50px;
  }
}
@media screen and (max-width: 1024px) {
  .table {
    padding: 15px 15px 25px;
  }
}
.table-header {
  position: relative;
}
.table-header__back {
  display: flex;
  align-items: center;
  padding: 10px 15px 10px 8px;
  position: absolute;
  left: -8px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  border-radius: 8px;
  transition: 200ms;
}
@media screen and (max-width: 1200px) {
  .table-header__back {
    padding: 8px 12px 8px 6px;
    left: -6px;
  }
}
@media screen and (max-width: 1024px) {
  .table-header__back {
    padding: 5px 10px 5px 5px;
    left: -5px;
  }
}
.table-header__back:hover {
  background-color: #F9F9F9;
}
.table-header__back i {
  width: 16px;
  height: 16px;
}
.table-header__back span {
  font-size: 16px;
  margin-left: 8px;
}
.table-header__title {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}
.table-inner {
  margin-top: 25px;
}
.table-inner table {
  width: 100%;
  border: 1px solid #D3D3D3;
}
.table-inner table tr {
  border: 1px solid #D3D3D3;
}
.table-inner table td, .table-inner table th {
  border: 1px solid #D3D3D3;
  padding: 10px;
  vertical-align: middle;
}
@media screen and (max-width: 1024px) {
  .table-inner table td, .table-inner table th {
    padding: 5px;
    font-size: 12px;
  }
}
.table-inner table th {
  text-align: center;
  font-weight: 500;
}
.table-inner table td:not([align]) {
  text-align: center;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font: 14px/20px "Lato", Arial, sans-serif;
  background-color: #EEEEEE;
  color: #4A4A4A;
  position: relative;
}

.container {
  margin: 0 auto;
  padding: 20px 0;
  display: flex;
  height: 100vh;
}
@media screen and (max-width: 500px) {
  .container {
    padding: 0;
  }
}

.people-list {
  width: 30%;
  padding-left: 138px;
  position: relative;
}
@media screen and (max-width: 1200px) {
  .people-list {
    width: 350px;
  }
}
@media screen and (max-width: 640px) {
  .people-list {
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .people-list {
    padding-left: 0;
  }
}
.people-list + div, .people-list #chatAjax {
  width: 70%;
  display: flex;
  transition: 200ms;
}
.people-list + div.-active, .people-list #chatAjax.-active {
  right: 0;
}
@media screen and (max-width: 1200px) {
  .people-list + div, .people-list #chatAjax {
    width: calc(100% - 350px);
  }
}
@media screen and (max-width: 640px) {
  .people-list + div, .people-list #chatAjax {
    width: calc(100% - 138px);
    position: absolute;
    right: calc(-100% + 138px);
  }
}
@media screen and (max-width: 500px) {
  .people-list + div, .people-list #chatAjax {
    width: 100%;
    right: -100%;
  }
}
.people-list .search {
  position: relative;
  padding: 11px 10px;
}
.people-list .search input {
  width: 100%;
  height: 30px;
  background-color: #F9F9F9;
  outline: none;
  font-size: 12px;
  border: none;
  border-radius: 4px;
  padding-left: 33px;
}
.people-list .search i.fa-search {
  position: absolute;
  left: 23px;
  top: 50%;
  transform: translateY(-50%);
  color: #665750;
}
.people-list ul.list {
  padding: 0 10px 10px;
  height: calc(100vh - 92px);
  overflow-y: auto;
}
@media screen and (max-width: 500px) {
  .people-list ul.list {
    height: calc(100vh - 52px);
  }
}
.people-list ul.list li {
  padding: 10px;
  display: flex;
  align-items: center;
}
.people-list ul.list li img {
  width: 40px;
  height: 40px;
  display: block;
  border-radius: 99em;
}
.people-list ul.list li.-current {
  background-color: #F4F4F4;
}
.people-list ul.list .about {
  width: 100%;
  margin-left: 10px;
  overflow: hidden;
  position: relative;
}
.people-list ul.list .about .name {
  font-weight: 500;
}
.people-list ul.list .first-row {
  width: 100%;
  font-size: 12px;
  color: #888888;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.people-list ul.list .time {
  font-size: 12px;
  color: #BBBBBB;
  -webkit-user-select: none;
          user-select: none;
}
@media screen and (min-width: 641px) {
  .people-list ul.list .time {
    line-height: 16px;
    transform: scale(0.83);
    transform-origin: left;
  }
}
.people-list ul.list .status {
  color: #92959E;
}

.chat {
  width: 61.4285714286%;
  position: relative;
}
@media screen and (max-width: 1024px) {
  .chat {
    width: 100%;
    padding: 0 10px 0 0;
  }
}
@media screen and (max-width: 640px) {
  .chat {
    padding: 0 10px;
  }
}
@media screen and (max-width: 500px) {
  .chat {
    padding: 0;
  }
}
.chat-overlay {
  width: calc(100% - 20px);
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 10px;
  border-radius: 8px;
  background-color: rgba(74, 74, 74, 0.5);
  transition: 200ms;
  z-index: 1;
  opacity: 0;
  pointer-events: none;
}
@media screen and (max-width: 1024px) {
  .chat-overlay {
    width: calc(100% - 10px);
    left: 0;
  }
}
@media screen and (max-width: 640px) {
  .chat-overlay {
    width: calc(100% - 20px);
    left: 10px;
  }
}
@media screen and (max-width: 500px) {
  .chat-overlay {
    width: 100%;
    border-radius: 0px;
    left: 0;
  }
}
@media screen and (max-width: 1024px) {
  .chat.-overlay .chat-overlay {
    opacity: 1;
    pointer-events: auto;
  }
}
.chat-header {
  height: 52px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #D7D1CD;
  padding: 0 15px;
  font-weight: 500;
  background-color: #F9F9F9;
  border-radius: 8px 8px 0 0;
  position: relative;
}
.chat-header p {
  display: inline-block;
  margin-right: 5px;
}
@media screen and (max-width: 500px) {
  .chat-header {
    border-radius: 0;
  }
}
.chat-header img {
  width: 30px;
  height: 30px;
  display: block;
  border-radius: 99em;
}
.chat-about {
  margin-left: 10px;
  display: flex;
  align-items: center;
}
.chat-with {
  font-weight: 500;
}
.chat-btn__info {
  width: 16px;
  height: 16px;
  position: absolute;
  right: 15px;
  cursor: pointer;
  transition: 200ms;
}
@media screen and (min-width: 1025px) {
  .chat-btn__info {
    display: none;
  }
}
.chat-btn__back {
  width: 14px;
  height: 14px;
  margin-right: 10px;
  cursor: pointer;
  margin-left: -5px;
  transition: 200ms;
}
@media screen and (min-width: 641px) {
  .chat-btn__back {
    display: none;
  }
}
.chat-history {
  padding: 10px 15px;
  background-color: #ffffff;
  height: calc(100vh - 215px);
  overflow-y: auto;
}
@media screen and (max-width: 500px) {
  .chat-history {
    height: calc(100vh - 175px);
  }
}
.chat-history li {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.chat-history li.msg {
  align-items: flex-start;
}
.chat-history li + li {
  margin-top: 10px;
}
.chat-history .message {
  display: inline-block;
  padding: 11px 20px;
  font-size: 16px;
  order: 1;
  max-width: 80%;
  line-height: 1.5;
  transition: 200ms;
}
@media screen and (max-width: 1024px) {
  .chat-history .message {
    font-size: 14px;
  }
}
.chat-history .message-data {
  order: 2;
  font-size: 10px;
  color: #BBBBBB;
  -webkit-user-select: none;
          user-select: none;
}
.chat-history .message.other-message {
  background-color: #94C1ED;
  border-radius: 20px 0px 20px 20px;
  color: #ffffff;
}
.chat-history .message.other-message:hover {
  background-color: #7eb4e9;
}
.chat-history .message.my-message {
  background-color: #F3F2F0;
  border-radius: 0px 20px 20px 20px;
  color: #665750;
}
.chat-history .message.my-message:hover {
  background-color: #e8e6e2;
}
.chat-message {
  height: 123px;
  display: flex;
  background-color: #ffffff;
  border-top: 1px solid #D7D1CD;
  padding: 15px;
  border-radius: 0px 0px 8px 8px;
}
@media screen and (max-width: 500px) {
  .chat-message {
    border-radius: 0;
  }
}
.chat-message textarea {
  width: calc(100% - 60px);
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  resize: none;
  outline: none;
  background-color: #F9F9F9;
  color: #665750;
  font: 16px/22px "Lato", Arial, sans-serif;
  line-height: 1.5;
}
@media screen and (max-width: 1024px) {
  .chat-message textarea {
    font-size: 14px;
  }
}
.chat-message button {
  width: 45px;
  padding: 10px;
  margin-left: 15px;
  border: none;
  cursor: pointer;
  outline: none;
  border-radius: 4px;
  transition: 200ms;
  background-color: #ffffff;
}
.chat-message button:hover {
  background-color: #F9F9F9;
}

.sidebar {
  width: 38.5714285714%;
  padding: 0 10px;
  transition: 200ms;
  z-index: 10;
}
@media screen and (max-width: 1024px) {
  .sidebar {
    position: absolute;
    right: -38.5714285714%;
    padding: 5px 15px 5px 0;
  }
}
@media screen and (max-width: 640px) {
  .sidebar {
    width: 240px;
    right: -240px;
  }
}
@media screen and (max-width: 500px) {
  .sidebar {
    padding: 10px 10px 10px 0;
  }
}
.sidebar.-active {
  right: 0;
}
.sidebar > div + div {
  margin-top: 10px;
}
@media screen and (max-width: 1024px) {
  .sidebar > div + div {
    margin-top: 0;
    border-top: 1px solid #D7D1CD;
  }
}
.sidebar .info {
  border-radius: 8px;
  overflow: hidden;
}
@media screen and (max-width: 1024px) {
  .sidebar .info {
    border-radius: 8px 8px 0 0;
  }
}
.sidebar .info-header {
  height: 52px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #D7D1CD;
  padding: 0 15px;
  font-weight: 500;
  background-color: #F9F9F9;
}
.sidebar .info-header p {
  display: inline-block;
  margin-right: 5px;
}
.sidebar .info-btn {
  width: 14px;
  height: 14px;
  margin-right: 10px;
  cursor: pointer;
}
@media screen and (min-width: 641px) {
  .sidebar .info-btn {
    display: none;
  }
}
.sidebar .info-inner {
  background-color: #ffffff;
  padding: 0 15px;
  height: calc(100vh - 304px);
  overflow: auto;
}
@media screen and (max-width: 500px) {
  .sidebar .info-inner {
    height: calc(100vh - 274px);
  }
}
.sidebar .info-inner ul > li:last-child {
  border: none;
}
.sidebar .info-row {
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #E5E5E5;
}
.sidebar .info-row__content {
  font-size: 12px;
}
.sidebar .info-sub {
  padding-bottom: 5px;
  border-bottom: 1px solid #E5E5E5;
}
.sidebar .info-sub__btn {
  width: 14px;
  height: 14px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  cursor: pointer;
}
.sidebar .info-sub__btn::before {
  content: "";
  width: 180%;
  height: 180%;
  background-color: #F9F9F9;
  border-radius: 99em;
  position: absolute;
  left: -40%;
  top: -40%;
  opacity: 0;
  transition: 200ms;
}
.sidebar .info-sub__btn i {
  opacity: 0.5;
  transition: 200ms;
  position: relative;
}
.sidebar .info-sub__btn:hover::before, .sidebar .info-sub__btn:hover i {
  opacity: 1;
}
.sidebar .info-sub__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0;
}
.sidebar .info-sub .sub-row {
  display: flex;
  justify-content: space-between;
  padding: 2px 0;
  color: #888888;
  font-size: 12px;
  transition: 200ms;
}
.sidebar .info-sub .sub-row:hover {
  background-color: #F9F9F9;
}
.sidebar .info-sub .sub-row__content {
  padding-right: 3px;
}
.sidebar .tag {
  border-radius: 8px;
  overflow: hidden;
}
@media screen and (max-width: 1024px) {
  .sidebar .tag {
    border-radius: 0 0 8px 8px;
  }
}
.sidebar .tag-header {
  height: 52px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #D7D1CD;
  padding: 0 15px;
  font-weight: 500;
  background-color: #F9F9F9;
  justify-content: space-between;
}
.sidebar .tag-header p {
  display: inline-block;
  margin-right: 5px;
}
.sidebar .tag-btn {
  width: 20px;
  height: 20px;
  padding: 3px;
  cursor: pointer;
}
.sidebar .tag-inner {
  background-color: #ffffff;
  padding: 0 15px;
  height: 150px;
  overflow-y: auto;
  padding: 11px;
}
.sidebar .tag-inner ul {
  display: flex;
  flex-wrap: wrap;
}
.sidebar .tag-inner li {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px 8px;
  margin: 4px 4px;
  border-radius: 4px;
  position: relative;
  font-size: 13px;
  cursor: pointer;
  transition: 200ms;
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 1200px) {
  .sidebar .tag-inner li {
    font-size: 12px;
  }
}
.sidebar .tag-inner li::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(74, 74, 74, 0.1);
  opacity: 0;
  transition: 200ms;
  z-index: 1;
}
.sidebar .tag-inner li:hover::before, .sidebar .tag-inner li:hover::after {
  opacity: 1;
}

.tag-selector {
  display: none;
  width: calc(100% - 138px);
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 30;
}
@media screen and (max-width: 500px) {
  .tag-selector {
    width: 100%;
  }
}
.tag-selector__overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(74, 74, 74, 0.5);
}
.tag-selector__inner {
  width: 50%;
  height: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border-radius: 8px;
  display: flex;
  max-width: 800px;
  min-height: 400px;
  border: 1px solid #D7D1CD;
}
@media screen and (max-height: 640px) {
  .tag-selector__inner {
    min-height: auto;
    height: 90%;
  }
}
@media screen and (max-width: 1024px) {
  .tag-selector__inner {
    width: 80%;
  }
}
@media screen and (max-width: 640px) {
  .tag-selector__inner {
    flex-wrap: wrap;
    width: calc(100% - 20px);
    min-height: auto;
    height: calc(100% - 20px);
  }
}
.tag-selector__inner > div + div {
  border-left: 1px solid #D7D1CD;
}
@media screen and (max-width: 640px) {
  .tag-selector__inner > div + div {
    border-left: none;
    border-top: 1px solid #D7D1CD;
  }
}
.tag-list {
  width: 50%;
}
@media screen and (max-width: 640px) {
  .tag-list {
    width: 100%;
    height: 60%;
  }
}
.tag-search {
  position: relative;
  padding: 0 15px;
  height: 52px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #D7D1CD;
  padding: 0 15px;
  font-weight: 500;
}
.tag-search p {
  display: inline-block;
  margin-right: 5px;
}
.tag-search input {
  width: 100%;
  height: 30px;
  background-color: #F9F9F9;
  outline: none;
  font-size: 12px;
  border: none;
  border-radius: 4px;
  padding-left: 33px;
}
.tag-search i.fa-search {
  position: absolute;
  left: 23px;
  top: 50%;
  transform: translateY(-50%);
  color: #665750;
}
.tag-dropdown {
  width: 100%;
  height: calc(100% - 52px);
  overflow-y: auto;
}
.tag-dropdown__title {
  height: 52px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #D7D1CD;
  padding: 0 15px;
  font-weight: 500;
  border-bottom: 1px solid #E5E5E5;
  justify-content: space-between;
  cursor: pointer;
}
.tag-dropdown__title p {
  display: inline-block;
  margin-right: 5px;
}
.tag-dropdown__title.-isClose .tag-dropdown__btn i {
  transform: rotate(180deg) translateY(-2px);
}
.tag-dropdown__btn {
  width: 12px;
  height: 12px;
  margin-right: 3px;
  cursor: pointer;
}
.tag-dropdown__btn i {
  transition: 200ms;
}
.tag-dropdown__inner li {
  padding: 8px 15px;
  font-size: 13px;
  border-bottom: 1px solid #F9F9F9;
  position: relative;
  cursor: pointer;
}
@media screen and (max-width: 640px) {
  .tag-dropdown__inner li {
    font-size: 10px;
  }
}
.tag-dropdown__inner li:hover {
  background-color: #F9F9F9;
}
.tag-dropdown__inner li::before {
  content: "";
  width: 17px;
  height: 17px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  right: 15px;
  top: calc(50% - 8.5px);
}
.tag-dropdown__inner li.-selected::before {
  background-image: url("../images/icon_tag_choose.svg");
}
.tag-dropdown__inner li:not(.-selected):hover::before {
  background-image: url("../images/icon_tag_add.svg");
}
.tag-selected {
  width: 50%;
}
@media screen and (max-width: 640px) {
  .tag-selected {
    width: 100%;
    height: 40%;
  }
}
.tag-selected__title {
  height: 52px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #D7D1CD;
  padding: 0 15px;
  font-weight: 500;
}
.tag-selected__title p {
  display: inline-block;
  margin-right: 5px;
}
.tag-selected__inner {
  height: calc(100% - 70px - 52px);
  padding: 11px;
  overflow-y: auto;
}
.tag-selected__inner ul {
  display: flex;
  flex-wrap: wrap;
}
.tag-selected__inner li {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px 8px;
  margin: 4px 4px;
  border-radius: 4px;
  position: relative;
  font-size: 13px;
  cursor: pointer;
  transition: 200ms;
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 1200px) {
  .tag-selected__inner li {
    font-size: 12px;
  }
}
.tag-selected__inner li::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(74, 74, 74, 0.1);
  opacity: 0;
  transition: 200ms;
  z-index: 1;
}
.tag-selected__inner li:hover::before, .tag-selected__inner li:hover::after {
  opacity: 1;
}
.tag-selected__inner li {
  padding: 2px 20px 2px 8px;
}
.tag-selected__inner li::after {
  content: "";
  width: 10px;
  height: 10px;
  background-image: url("../images/icon_tag_delete.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  right: 6px;
  top: calc(50% - 5px);
  z-index: 2;
  opacity: 0.5;
}
@media screen and (max-width: 640px) {
  .tag-selected__inner {
    height: calc(100% - 60px - 52px);
  }
}
.tag-selected__btn {
  padding: 10px 15px;
}
@media screen and (max-width: 640px) {
  .tag-selected__btn {
    padding: 10px;
  }
}
.tag-selected__btn > div {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background-color: #665750;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  -webkit-user-select: none;
          user-select: none;
  transition: 200ms;
}
@media screen and (max-width: 640px) {
  .tag-selected__btn > div {
    height: 40px;
  }
}
.tag-selected__btn > div:hover {
  background-color: #584b45;
}