html,
body {
	margin: 0;
	padding: 0;
}

ul,
li {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

*:focus {
	outline: none;
}

.main {
	display: block !important;
}

.f-13 {
	font-size: 13px;
}

.header {
	width: 138px;
	height: 100vh;
	background: #39302b;
	position: fixed;
}

.header h1 {
	background: #39302b;
	color: #FFFFFF;
	text-align: center;
	margin: 0;
	font-size: 18px;
	padding: 15px 0;
	font-weight: 400;
	height: 64px;
	display: block;
	line-height: 35px;
}

.header ul {
	padding: 20px 0;
}

.header ul li {
	font-size: 17px;
	font-weight: 400;
	line-height: 20px;
	text-align: left;
	padding: 25px 35px;
}

.header ul li a {
	color: #9B9B9B;
}

.header ul li.active {
	background: #281f1a;
	color: #fff;
}

.login {
	display: block;
}

.login .top {
	display: flex;
}

.login .top div {
	background-color: #665750;
	height: 20px;
}

.login .top div:first-child {
	background-color: #D7D1CD;
	width: 138px;
	height: 20px;
}

.login .top div:last-child {
	flex: 1;
}

.login h1 {
	color: #4A4A4A;
	font-size: 24px;
	font-weight: 500;
	letter-spacing: 1.6px;
	line-height: 29px;
	text-align: center;
	margin: 100px auto 60px;
}

.login .content {
	width: 375px;
	margin: 0 auto;
	flex: none;
	padding: 0;
}

.login .row {
	margin-bottom: 10px;
}

.login .row .name {
	font-size: 15px;
	font-weight: 500;
	letter-spacing: 1px;
	line-height: 18px;
	margin-bottom: 15px;
}

.login input[type="text"] {
	margin-bottom: 20px;
}

.login .btn {
	background-color: #665750;
	border-radius: 24px;
	width: 375px;
	height: 48px;
	margin: 60px auto 0;
	display: block;
	color: #FFFFFF;
	font-size: 17px;
	font-weight: 500;
	letter-spacing: 1.13px;
	line-height: 48px;
	text-align: center;
}

.login .btn.disable {
	background-color: #E4E4E4;
	color: #FFFFFF;
}

.content {
	font-size: 13px;
	flex: 1;
	padding-left: 138px;
}

.content.booking {
	padding-top: 64px;
}

.content.booking .menu {
	width: 100%;
	background: #665750;
	color: #FFFFFF;
	height: 64px;
	display: block;
	padding: 0px 35px;
	position: fixed;
	top: 0;
}

.content.booking .menu li {
	color: #FFFFFF;
	font-size: 18px;
	font-weight: 500;
	letter-spacing: 1.13px;
	line-height: 22px;
	text-align: left;
	display: inline-block;
	padding: 20px 0;
	margin: 0;
}

.content.booking .filter {
	background-color: #D7D1CD;
	display: flex;
	padding: 0px 35px;
	color: #4A4A4A;
	font-size: 14px;
	font-weight: 400;
}

.content.booking .filter li {
	padding: 10px 10px 10px 0;
}

.content.booking .filter li:last-child {
	flex: 1;
	padding-right: 0;
}

.content.booking .filter a {
	color: #4A4A4A;
	background: #fff;
	border: 1px solid #665750;
	border-radius: 5px;
	width: 65px;
	display: block;
	padding: 7px;
	text-align: center;
	cursor: pointer;
}

.content.booking .filter select {
	width: 100%;
	color: #4A4A4A;
	background: #fff;
	border: 1px solid #665750;
	border-radius: 5px;
	padding: 7px;
	font-size: 14px;
	font-weight: 400;
	height: 36px;
	text-align: center;
	text-align-last: center;
}

.content.booking .table {
	padding: 15px 35px;
}

.content.booking table {
	width: 100%;
	border-top: 1px solid #D3D3D3;
	border-left: 1px solid #D3D3D3;
	border-spacing: 0;
	border-collapse: separate;
}

.content.booking table td {
	border-right: 1px solid #D3D3D3;
	border-bottom: 1px solid #D3D3D3;
	text-align: center;
	vertical-align: top;
	padding: 5px 0;
	color: #4A4A4A;
	font-size: 14px;
	font-weight: 400;
}

.content.booking table td div {
	min-height: 60px;
	width: 100%;
	padding: 5px 0;
	cursor: pointer;
}

.content.booking table td span {
	display: block;
	line-height: 180%;
}

.content.booking table td .color {
	color: gray;
}

.content.booking table td .line {
	line-height: 100%;
	border-top: 1px solid #D3D3D3;
}

.content.booking2 {
	padding-top: 64px;
}

.content.booking2 .menu {
	width: 100%;
	background: #665750;
	color: #FFFFFF;
	height: 64px;
	display: block;
	padding: 0px 35px;
	position: fixed;
	top: 0;
}

.content.booking2 .menu li {
	color: #FFFFFF;
	font-size: 18px;
	font-weight: 500;
	letter-spacing: 1.13px;
	line-height: 22px;
	text-align: left;
	display: inline-block;
	padding: 20px 0;
	margin: 0;
}

.content.booking2 .row {
	margin-bottom: 15px;
	padding: 0 35px;
}

.content.booking2 .row .name {
	font-size: 15px;
	font-weight: 500;
	letter-spacing: 1px;
	line-height: 18px;
	margin-bottom: 15px;
}

.content.booking2 .row:first-child {
	margin-top: 30px;
}

.content.booking2 .btn {
	background-color: #665750;
	border-radius: 24px;
	width: 375px;
	height: 48px;
	display: block;
	color: #FFFFFF;
	font-size: 17px;
	font-weight: 500;
	letter-spacing: 1.13px;
	line-height: 48px;
	text-align: center;
	margin: 40px auto;
}

.content.booking2 .btn.disable {
	background-color: #E4E4E4;
	color: #FFFFFF;
}

.content.booking3 {
	padding-top: 64px;
}

.content.booking3 .menu {
	width: 100%;
	background: #665750;
	color: #FFFFFF;
	height: 64px;
	display: block;
	padding: 0px 35px;
	position: fixed;
	top: 0;
}

.content.booking3 .menu li {
	color: #FFFFFF;
	font-size: 18px;
	font-weight: 500;
	letter-spacing: 1.13px;
	line-height: 22px;
	text-align: left;
	display: inline-block;
	padding: 20px 0;
	margin: 0;
}

.content.booking3 .filter {
	background-color: #D7D1CD;
	height: 38px;
	display: flex;
	padding: 0px 35px;
}

.content.booking3 .filter li {
	padding: 10px 15px;
}

.content.booking3 .filter li:first-child {
	padding-left: 0;
}

.content.booking3 .filter a {
	color: #7B7D7E;
}

.content.booking3 .table {
	padding: 0 35px;
	color: #4A4A4A;
	font-size: 15px;
	font-weight: 400;
	display: table;
	width: 100%;
}

.content.booking3 .table .tr {
	width: 100%;
	display: table-row;
}

.content.booking3 .table .tr .td {
	display: table-cell;
	padding: 30px 0;
	border-bottom: 1px solid #ECECEC;
}

.content.booking3 .table .right {
	text-align: right;
}

.content.booking3 .table .color2 {
	color: #9B9B9B;
}

.content.booking3 .table .btn {
	background-color: #D7D1CD;
	border-radius: 5px;
	width: 80px;
	height: 35px;
	line-height: 35px;
	display: inline-block;
	margin: 0 10px;
	color: #4A4A4A;
	font-size: 15px;
	font-weight: 400;
	letter-spacing: 1px;
	text-align: center;
	border: 1px solid #D7D1CD;
}

.content.booking3 .table .btn:hover {
	border: 1px solid #665750;
	background-color: #fff;
}

.content.booking3 .no_data .td {
	text-align: center;
	padding: 70px 0;
	color: #9B9B9B;
	font-size: 15px;
	font-weight: 400;
	letter-spacing: 1px;
	line-height: 18px;
}

.content.coupon {
	padding-top: 100px;
}

.content.coupon h2 {
	display: none;
}

.content.coupon .menu {
	width: 100%;
	background: #665750;
	color: #FFFFFF;
	height: 64px;
	display: block;
	padding: 0px 35px;
	position: fixed;
	top: 0;
}

.content.coupon .menu li {
	font-size: 18px;
	font-weight: 500;
	letter-spacing: 1.13px;
	line-height: 22px;
	text-align: left;
	display: inline-block;
	padding: 20px 18px;
	margin: 0;
}

.content.coupon .menu li a {
	color: #D3D3D3;
}

.content.coupon .menu li.active {
	border-bottom: 2px solid #fff;
	color: #FFFFFF;
}

.content.coupon .menu li:first-child {
	margin-right: 40px;
}

.content.coupon .filter {
	position: fixed;
	top: 64px;
	left: 138px;
	right: 0;
	z-index: 2;
}

.content.coupon .filter ul {
	background-color: #D7D1CD;
	display: flex;
	padding: 0 20px;
	color: #4A4A4A;
	font-size: 14px;
	font-weight: 400;
}

.content.coupon .filter ul li a {
	color: #7B7D7E;
	width: 65px;
	display: block;
	padding: 7px;
	text-align: center;
	cursor: pointer;
	white-space: nowrap;
}

.content.coupon .filter ul li:last-child {
	padding-right: 0;
}

.content.coupon .filter ul li:first-child {
	padding-left: 0;
}

.content.coupon .filter ul li:first-child a {
	padding-left: 0;
}

.content.coupon .filter ul .right {
	margin-left: auto;
}

.content.coupon .filter ul .right a {
	background-image: url("../img/icon_ filter@3x.png");
	display: block;
	width: 30px;
	height: 30px;
	background-size: cover;
	margin-right: 25px;
	margin-top: 2px;
}

.content.coupon .table {
	padding: 0 35px;
	color: #4A4A4A;
	font-size: 15px;
	font-weight: 400;
	width: 100%;
}

.content.coupon .table .tr {
	display: flex;
	width: 100%;
	border-bottom: 1px solid #ECECEC;
	padding: 18px 0;
}

.content.coupon .table .tr>div>div {
	padding-bottom: 7px;
}

.content.coupon .table .tr>div>div:first-child {
	padding-bottom: 16px;
}

.content.coupon .table .right {
	margin-left: auto;
}

.content.coupon .table .name {
	font-size: 18px;
	padding-bottom: 7px;
}

.content.coupon .table span {
	padding-right: 10px;
	font-size: 13px;
}

.content.coupon .table .color {
	color: #9B9B9B;
}

.content.coupon .table .color2 {
	color: #FF5F15;
}

.content.coupon .table .btn {
	background-color: #D7D1CD;
	border-radius: 5px;
	width: 80px;
	height: 35px;
	line-height: 35px;
	display: block;
	margin: 0 10px;
	color: #4A4A4A;
	font-size: 15px;
	font-weight: 400;
	letter-spacing: 1px;
	text-align: center;
	border: 1px solid #D7D1CD;
}

.content.coupon .table .btn:hover {
	border: 1px solid #665750;
	background-color: #fff;
}

.content.coupon .table .btn.info {
	margin-bottom: 13px;
}

.content.booking-info {
	padding-top: 64px;
}

.content.booking-info .color {
	color: #9B9B9B;
}

.content.booking-info .color2 {
	color: #FF5F15;
}

.content.booking-info .content {
	padding-left: 0;
	padding-top: 0;
}

.content.booking-info .menu {
	width: 100%;
	background: #665750;
	color: #FFFFFF;
	height: 64px;
	display: block;
	padding: 0px 35px;
	position: fixed;
	top: 0;
	z-index: 2;
}

.content.booking-info .menu li {
	color: #FFFFFF;
	font-size: 18px;
	font-weight: 500;
	letter-spacing: 1.13px;
	line-height: 22px;
	text-align: left;
	display: inline-block;
	padding: 20px 0;
	margin: 0;
}

.content.booking-info h3 {
	margin: 0 0 20px;
	padding: 0;
	color: #4A494A;
	font-size: 15px;
	font-weight: 400;
}

.content.booking-info .row {
	margin-bottom: 25px;
	font-size: 13px;
	display: flex;
}

.content.booking-info .row .name {
	width: 100px;
}

.content.booking-info .info2 {
	border-top: 1px solid #ECECEC;
	padding: 30px 0;
	margin: 0 35px;
	position: relative;
}

.content.booking-info .info2 .flex {
	display: flex;
}

.content.booking-info .info2 .flex>div {
	flex: 1;
}

.content.booking-info .info {
	margin: 30px 35px;
	position: relative;
}

.content.booking-info .info .btn {
	background-color: #D7D1CD;
	border-radius: 5px;
	width: 80px;
	height: 35px;
	line-height: 35px;
	display: inline-block;
	margin: 0 10px;
	color: #4A4A4A;
	font-size: 15px;
	font-weight: 400;
	letter-spacing: 1px;
	text-align: center;
	position: absolute;
	right: 0;
	top: 0;
}

.content.booking-info .info .row {
	display: flex;
	margin-bottom: 10px;
}

.content.booking-info .info .row span {
	display: block;
}

.content.booking-info .info .row .color {
	line-height: 200%;
}

.content.booking-info .info .name {
	font-size: 20px;
	font-weight: 400;
	margin-right: 15px;
	width: auto;
}

.content.coupon-info {
	padding-top: 64px;
}

.content.coupon-info .color {
	color: #9B9B9B;
}

.content.coupon-info .color2 {
	color: #FF5F15;
}

.content.coupon-info .content {
	padding-left: 0;
	padding-top: 0;
}

.content.coupon-info .menu {
	width: 100%;
	background: #665750;
	color: #FFFFFF;
	height: 64px;
	display: block;
	padding: 0px 35px;
	position: fixed;
	top: 0;
	z-index: 2;
}

.content.coupon-info .menu li {
	color: #FFFFFF;
	font-size: 18px;
	font-weight: 500;
	letter-spacing: 1.13px;
	line-height: 22px;
	text-align: left;
	display: inline-block;
	padding: 20px 0;
	margin: 0;
}

.content.coupon-info .row {
	margin-bottom: 25px;
	font-size: 13px;
	display: flex;
}

.content.coupon-info .row .name {
	width: 100px;
}

.content.coupon-info .info2 {
	border-top: 1px solid #ECECEC;
	padding: 30px 0;
	margin: 0 35px;
	position: relative;
}

.content.coupon-info .info2 .flex {
	display: flex;
}

.content.coupon-info .info2 .flex>div {
	flex: 1;
}

.content.coupon-info .info {
	margin: 30px 35px;
	position: relative;
}

.content.coupon-info .info .btn {
	background-color: #D7D1CD;
	border-radius: 5px;
	width: 80px;
	height: 35px;
	line-height: 35px;
	display: inline-block;
	margin: 0 10px;
	color: #4A4A4A;
	font-size: 15px;
	font-weight: 400;
	letter-spacing: 1px;
	text-align: center;
	position: absolute;
	right: 0;
	top: 0;
}

.content.coupon-info .info .row {
	display: block;
	margin-bottom: 10px;
}

.content.coupon-info .info .name {
	font-size: 20px;
	font-weight: 400;
	margin-right: 15px;
	width: auto;
}

.content.coupon-cancel {
	padding-top: 64px;
}

.content.coupon-cancel .menu {
	width: 100%;
	background: #665750;
	color: #FFFFFF;
	height: 64px;
	display: block;
	padding: 0px 35px;
	position: fixed;
	top: 0;
}

.content.coupon-cancel .menu li {
	color: #FFFFFF;
	font-size: 18px;
	font-weight: 500;
	letter-spacing: 1.13px;
	line-height: 22px;
	text-align: left;
	display: inline-block;
	padding: 20px 0;
	margin: 0;
}

.content.coupon-cancel .row {
	margin-bottom: 25px;
	padding: 0 35px;
}

.content.coupon-cancel .row .name {
	font-size: 15px;
	font-weight: 500;
	letter-spacing: 1px;
	line-height: 18px;
	margin-bottom: 15px;
}

.content.coupon-cancel .row label {
	display: block;
	margin-top: 10px;
}

.content.coupon-cancel .row label span {
	margin-left: 10px;
	color: #4A4A4A;
	font-size: 15px;
}

.content.coupon-cancel .row:first-child {
	margin-top: 30px;
}

.content.coupon-cancel .btn {
	background-color: #665750;
	border-radius: 24px;
	width: 375px;
	height: 48px;
	display: block;
	color: #FFFFFF;
	font-size: 17px;
	font-weight: 500;
	letter-spacing: 1.13px;
	line-height: 48px;
	text-align: center;
	margin: 40px auto;
}

.content.coupon-cancel .btn.disable {
	background-color: #E4E4E4;
	color: #FFFFFF;
}

.content.coupon-search {
	padding-top: 64px;
}

.content.coupon-search .menu {
	width: 100%;
	background: #665750;
	color: #FFFFFF;
	height: 64px;
	display: block;
	padding: 0px 35px;
	position: fixed;
	top: 0;
}

.content.coupon-search .menu li {
	font-size: 18px;
	font-weight: 500;
	letter-spacing: 1.13px;
	line-height: 22px;
	text-align: left;
	display: inline-block;
	padding: 20px 18px;
	margin: 0;
}

.content.coupon-search .menu li a {
	color: #D3D3D3;
}

.content.coupon-search .menu li.active {
	border-bottom: 2px solid #fff;
	color: #FFFFFF;
}

.content.coupon-search .menu li:first-child {
	margin-right: 40px;
}

.content.coupon-search h2 {
	display: none;
}

.content.coupon-search .row {
	margin-bottom: 15px;
	padding: 0 35px;
}

.content.coupon-search .row .name {
	font-size: 15px;
	font-weight: 500;
	letter-spacing: 1px;
	line-height: 18px;
	margin-bottom: 15px;
}

.content.coupon-search .row:first-child {
	margin-top: 30px;
}

.content.coupon-search .btn {
	background-color: #665750;
	border-radius: 24px;
	width: 375px;
	height: 48px;
	display: block;
	color: #FFFFFF;
	font-size: 17px;
	font-weight: 500;
	letter-spacing: 1.13px;
	line-height: 48px;
	text-align: center;
	margin: 40px auto;
}

.content.coupon-search .btn.disable {
	background-color: #E4E4E4;
	color: #FFFFFF;
}

.content.coupon-record {
	padding-top: 100px;
}

.content.coupon-record h2 {
	display: none;
}

.content.coupon-record .menu {
	width: 100%;
	background: #665750;
	color: #FFFFFF;
	height: 64px;
	display: block;
	padding: 0px 35px;
	position: fixed;
	top: 0;
}

.content.coupon-record .menu li {
	font-size: 18px;
	font-weight: 500;
	letter-spacing: 1.13px;
	line-height: 22px;
	text-align: left;
	display: inline-block;
	padding: 20px 18px;
	margin: 0;
}

.content.coupon-record .menu li a {
	color: #D3D3D3;
}

.content.coupon-record .menu li.active {
	border-bottom: 2px solid #fff;
	color: #FFFFFF;
}

.content.coupon-record .menu li:first-child {
	margin-right: 40px;
}

.content.coupon-record .filter {
	position: fixed;
	top: 64px;
	left: 138px;
	right: 0;
	z-index: 2;
}

.content.coupon-record .filter ul {
	background-color: #D7D1CD;
	display: flex;
	padding: 0 28px;
	color: #4A4A4A;
	font-size: 14px;
	font-weight: 400;
}

.content.coupon-record .filter ul li a {
	color: #7B7D7E;
	width: 65px;
	display: block;
	padding: 7px;
	text-align: center;
	cursor: pointer;
	white-space: nowrap;
}

.content.coupon-record .filter ul li:last-child {
	padding-right: 0;
}

.content.coupon-record .filter ul li:first-child {
	padding-left: 0;
}

.content.coupon-record .filter ul li:first-child a {
	padding-left: 0;
}

.content.coupon-record .filter ul .right {
	margin-left: auto;
}

.content.coupon-record .filter ul .right a {
	background-image: url("../img/icon_ filter@3x.png");
	display: block;
	width: 30px;
	height: 30px;
	background-size: cover;
	margin-right: 25px;
	margin-top: 2px;
}

.content.coupon-record .table {
	padding: 0 35px;
	color: #4A4A4A;
	font-size: 15px;
	font-weight: 400;
	width: 100%;
}

.content.coupon-record .table .tr {
	display: flex;
	width: 100%;
	border-bottom: 1px solid #ECECEC;
	padding: 18px 0;
}

.content.coupon-record .table .tr>div>div {
	padding-bottom: 7px;
}

.content.coupon-record .table .tr>div>div:first-child {
	padding-bottom: 16px;
}

.content.coupon-record .table .right {
	margin-left: auto;
}

.content.coupon-record .table .name {
	font-size: 18px;
	padding-bottom: 7px;
}

.content.coupon-record .table span {
	padding-right: 10px;
}

.content.coupon-record .table .color {
	color: #9B9B9B;
}

.content.coupon-record .table .color2 {
	color: #FF5F15;
}

.content.coupon-record .table .btn {
	background-color: #D7D1CD;
	border-radius: 5px;
	width: 80px;
	height: 35px;
	line-height: 35px;
	display: block;
	margin: 0 10px;
	color: #4A4A4A;
	font-size: 15px;
	font-weight: 400;
	letter-spacing: 1px;
	text-align: center;
	border: 1px solid #D7D1CD;
}

.content.coupon-record .table .btn:hover {
	border: 1px solid #665750;
	background-color: #fff;
}

.content.coupon-record .table .btn.info {
	margin-bottom: 13px;
}

.content.coupon-record2 {
	padding-top: 100px;
}

.content.coupon-record2 h2 {
	display: none;
}

.content.coupon-record2 .menu {
	width: 100%;
	background: #665750;
	color: #FFFFFF;
	height: 64px;
	display: block;
	padding: 0px 35px;
	position: fixed;
	top: 0;
}

.content.coupon-record2 .menu li {
	font-size: 18px;
	font-weight: 500;
	letter-spacing: 1.13px;
	line-height: 22px;
	text-align: left;
	display: inline-block;
	padding: 20px 18px;
	margin: 0;
}

.content.coupon-record2 .menu li a {
	color: #D3D3D3;
}

.content.coupon-record2 .menu li.active {
	border-bottom: 2px solid #fff;
	color: #FFFFFF;
}

.content.coupon-record2 .menu li:first-child {
	margin-right: 40px;
}

.content.coupon-record2 .filter {
	position: fixed;
	top: 64px;
	left: 138px;
	right: 0;
	z-index: 2;
}

.content.coupon-record2 .filter ul {
	background-color: #D7D1CD;
	display: flex;
	padding: 0 35px;
	color: #4A4A4A;
	font-size: 14px;
	font-weight: 400;
}

.content.coupon-record2 .filter ul li a {
	color: #7B7D7E;
	width: 65px;
	display: block;
	padding: 7px;
	text-align: center;
	cursor: pointer;
	white-space: nowrap;
}

.content.coupon-record2 .filter ul li:last-child {
	padding-right: 0;
}

.content.coupon-record2 .filter ul li:first-child {
	padding-left: 0;
}

.content.coupon-record2 .filter ul li:first-child a {
	padding-left: 0;
}

.content.coupon-record2 .filter ul .right {
	margin-left: auto;
}

.content.coupon-record2 .filter ul .right a {
	background-image: url("../img/icon_ filter@3x.png");
	display: block;
	width: 30px;
	height: 30px;
	background-size: cover;
	margin-right: 25px;
	margin-top: 2px;
}

.content.coupon-record2 .table {
	padding: 0 35px;
	color: #4A4A4A;
	font-size: 15px;
	font-weight: 400;
	width: 100%;
}

.content.coupon-record2 .table .tr {
	width: 100%;
	border-bottom: 1px solid #ECECEC;
	padding: 18px 0;
	position: relative;
}

.content.coupon-record2 .table .tr>div>div {
	padding-bottom: 7px;
}

.content.coupon-record2 .table .tr>div>div:first-child {
	padding-bottom: 16px;
}

.content.coupon-record2 .table .row {
	display: flex;
}

.content.coupon-record2 .table .row .name {
	width: 100px;
}

.content.coupon-record2 .table .buy,
.content.coupon-record2 .table .use {
	border: 1px solid #665750;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	text-align: center;
	color: #4A4A4A;
	font-size: 13px;
	font-weight: 400;
	padding: 2px;
	position: absolute;
	right: 15px;
	top: 15px;
	box-sizing: border-box;
	line-height: 25px;
}

.content.coupon-record2 .table .buy {
	border: 1px solid #FF5F15;
	color: #FF5F15;
}

.content.coupon-record2 .table .color {
	color: #9B9B9B;
	margin-bottom: 25px;
}

.content.coupon-record2 .table .color2 {
	color: #FF5F15;
	margin-bottom: 25px;
}

.content.coupon-record2 .table .btn {
	background-color: #D7D1CD;
	border-radius: 5px;
	width: 80px;
	height: 35px;
	line-height: 35px;
	display: block;
	margin: 0 10px;
	color: #4A4A4A;
	font-size: 15px;
	font-weight: 400;
	letter-spacing: 1px;
	text-align: center;
	border: 1px solid #D7D1CD;
	position: absolute;
	right: 0;
	bottom: 25px;
}

.content.coupon-record2.coupon-cancel {
	padding-top: 85px;
}

.content.coupon-record2.coupon-cancel h2 {
	display: block;
	margin-bottom: 25px;
	padding: 0 35px;
}

.content.coupon-record3 {
	padding-top: 120px;
}

.content.coupon-record3 h2 {
	display: none;
}

.content.coupon-record3 h3 {
	color: #4A4A4A;
	font-size: 15px;
	font-weight: 500;
	position: fixed;
	background: #fff;
	padding-left: 56px;
	top: 65px;
}

.content.coupon-record3 .menu {
	width: 100%;
	background: #665750;
	color: #FFFFFF;
	height: 64px;
	display: block;
	padding: 0px 35px;
	position: fixed;
	top: 0;
}

.content.coupon-record3 .menu li {
	font-size: 18px;
	font-weight: 500;
	letter-spacing: 1.13px;
	line-height: 22px;
	text-align: left;
	display: inline-block;
	padding: 20px 18px;
	margin: 0;
}

.content.coupon-record3 .menu li a {
	color: #D3D3D3;
}

.content.coupon-record3 .menu li.active {
	border-bottom: 2px solid #fff;
	color: #FFFFFF;
}

.content.coupon-record3 .menu li:first-child {
	margin-right: 40px;
}

.content.coupon-record3 .table {
	padding: 0 35px;
	color: #9B9B9B;
	font-size: 14px;
	font-weight: 400;
	width: 100%;
}

.content.coupon-record3 .table .tr {
	width: 100%;
	border-bottom: 1px solid #ECECEC;
	position: relative;
	display: flex;
}

.content.coupon-record3 .table .tr:first-child {
	border-top: 1px solid #ECECEC;
}

.content.coupon-record3 .table .name {
	color: #4A4A4A;
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 5px;
}

.content.coupon-record3 .table .pic {
	width: 110px;
	height: 105px;
	overflow: hidden;
	margin-right: 25px;
	background-size: cover;
}

.content.coupon-record3 .table .info {
	display: flex;
	flex: 1;
	align-items: center;
}

.content.coupon-record3 .table .btn {
	background-color: #D7D1CD;
	border-radius: 5px;
	width: 80px;
	height: 35px;
	line-height: 35px;
	display: block;
	color: #4A4A4A;
	font-size: 15px;
	font-weight: 400;
	letter-spacing: 1px;
	text-align: center;
	border: 1px solid #D7D1CD;
	margin-left: auto;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="number"] {
	background-color: #FFFFFF;
	border: 1px solid #665750;
	border-radius: 18.5px;
	width: 100%;
	height: 37px;
	padding: 8px 25px;
	font-size: 15px;
}

input[type="text"]::placeholder,
input[type="password"]::placeholder,
input[type="date"]::placeholder,
input[type="number"]::placeholder {
	color: #9B9B9B;
	font-size: 15px;
	font-weight: 400;
	letter-spacing: 1px;
	line-height: 18px;
	text-align: left;
}

textarea {
	background-color: #FFFFFF;
	border: 1px solid #665750;
	border-radius: 5px;
	width: 100%;
	padding: 8px 20px;
	font-size: 15px;
}

textarea::placeholder {
	color: #9B9B9B;
	font-size: 15px;
	font-weight: 400;
	letter-spacing: 1px;
	line-height: 18px;
	text-align: left;
}

.custom input[type="checkbox"],
.custom input[type="radio"] {
	display: none;
}

.custom input[type="checkbox"]+label,
.custom input[type="radio"]+label {
	padding: 8px 0;
	min-width: 155px;
	margin-right: 10px;
	display: inline-block;
	cursor: pointer;
	color: #4A4A4A;
	font-size: 15px;
	font-weight: 400;
	letter-spacing: 1px;
	line-height: 18px;
	text-align: center;
	border: 1px solid #665750;
	border-radius: 18.5px;
	margin-bottom: 20px;
}

.custom input[type="checkbox"]:checked+label,
.custom input[type="radio"]:checked+label {
	background-color: #D7D1CD;
	border: 1px solid #665750;
}

.popup_filter {
	background: rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 99px;
	bottom: 0;
	left: 138px;
	right: 0;
	z-index: 999;
	overflow: scroll;
	display: none;
}

.popup_filter .content {
	padding: 0;
}

.popup_filter .popup {
	background-color: #FFFFFF;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 1;
	width: 100%;
}

.popup_filter .popup .row {
	font-size: 15px;
	display: flex;
	line-height: 300%;
	padding: 15px 30px 0;
}

.popup_filter .popup .row select {
	width: 100%;
	color: #4A4A4A;
	background: #fff;
	border: 1px solid #665750;
	border-radius: 5px;
	padding: 7px;
	font-size: 14px;
	font-weight: 400;
	height: 36px;
}

.popup_filter .popup .row input[type="text"] {
	border-radius: 5px;
	padding: 7px;
}

.popup_filter .popup .row .name {
	font-weight: 400;
	width: 65px;
	color: #4A4A4A;
}

.popup_filter .popup .row .value {
	font-weight: 400;
	color: #4A4A4A;
	flex: 1;
}

.popup_filter .popup .row .value span {
	display: block;
}

.popup_filter .popup .btn {
	background-color: #665750;
	width: 100%;
	height: 45px;
	line-height: 45px;
	color: #fff;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 1.07px;
	text-align: center;
	display: block;
	margin: 15px auto 0;
}

.popup_group {
	background: rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 999;
	overflow: scroll;
	display: none;
}

.popup_group .content {
	padding-left: 0;
	padding-top: 0;
}

.popup_group .close {
	display: block;
	background-image: url("../img/icon_close_g@3x.png");
	background-size: cover;
	width: 30px;
	height: 30px;
	position: absolute;
	top: 20px;
	right: 15px;
	cursor:pointer;
}

.popup_group .popup {
	margin: 80px 0;
	padding: 25px;
	background-color: #FFFFFF;
	border-radius: 5px;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, 0);
	opacity: 1;
}

.popup_group h2 {
	color: #4A4A4A;
	font-size: 18px;
	font-weight: 500;
	letter-spacing: 1.13px;
	line-height: 20px;
	text-align: center;
	margin: 0;
}

.popup_group .popup_password {
	width: 315px;
	display: none;
}

.popup_group .popup_password input {
	border-radius: 5px;
	margin: 25px 0;
	height: 56px;
	line-height: 56px;
}

.popup_group .popup_password .btn {
	background-color: #665750;
	border-radius: 5px;
	width: 100%;
	max-width: 195px;
	height: 55px;
	line-height: 55px;
	color: #fff;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 1.07px;
	text-align: center;
	display: block;
	margin: 0 auto 0;
}

.popup_group .popup_password .btn.disable {
	background-color: #E4E4E4;
	color: #FFFFFF;
}

.popup_group .popup_login {
	width: 315px;
	display: none;
}

.popup_group .popup_login .btn {
	background-color: #D7D1CD;
	border-radius: 5px;
	width: 100%;
	max-width: 195px;
	height: 55px;
	line-height: 55px;
	color: #4A4A4A;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 1.07px;
	text-align: center;
	display: block;
	margin: 30px auto 0;
}

.popup_group .popup_login .btn.disable {
	background-color: #E4E4E4;
	color: #FFFFFF;
}

.popup_group .popup_login .btn.selected {
	background-color: #FFFFFF;
	border: 2px solid #665750;
	color: #4A4A4A;
}

.popup_group .popup_login .btn.active {
	background-color: #665750;
	color: #FFFFFF;
}

.popup_group .popup_info {
	display: none;
	width: 335px;
}

.popup_group .popup_info h2 {
	color: #FF5F15;
	min-height: 65px;
}

.popup_group .popup_info h2 span {
	font-size: 15px;
	font-weight: 400;
	padding-top: 5px;
	display: block;
}

.popup_group .popup_info .row {
	font-size: 15px;
	display: flex;
	padding: 0 10px;
	line-height: 300%;
}

.popup_group .popup_info .row.notes {
	margin-bottom: 15px;
}

.popup_group .popup_info .row .name {
	font-weight: 400;
	width: 100px;
	color: #4A4A4A;
}

.popup_group .popup_info .row .value {
	font-weight: 400;
	color: #4A4A4A;
	flex: 1;
}

.popup_group .popup_info .row .value span {
	display: block;
}

.popup_group .popup_info .row input[type="text"] {
	display: none;
}

.popup_group .popup_info .btn2 {
	background-color: #D7D1CD;
	border-radius: 5px;
	color: #4A4A4A;
	font-size: 13px;
	font-weight: 400;
	letter-spacing: 1.07px;
	text-align: center;
	border: 1px solid #665750;
	padding: 3px 13px;
	width: 56px;
	line-height: 150%;
}

.popup_group .popup_info .btn3 {
	background-color: #D7D1CD;
	border-radius: 5px;
	color: #4A4A4A;
	font-size: 13px;
	font-weight: 400;
	letter-spacing: 1.07px;
	text-align: center;
	border: 1px solid #665750;
	padding: 3px 13px;
	width: 56px;
	line-height: 150%;
}

.popup_group .popup_info .btns {
	margin-top: 40px;
}

.popup_group .popup_info .btn {
	background-color: #D7D1CD;
	border-radius: 5px;
	width: 100%;
	max-width: 195px;
	height: 55px;
	line-height: 55px;
	color: #4A4A4A;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 1.07px;
	text-align: center;
	display: block;
	margin: 8px auto 0;
}

.popup_group .popup_info .btn.disable {
	background-color: #E4E4E4;
	color: #FFFFFF;
}

.popup_group .popup_info .btn.selected {
	background-color: #FFFFFF;
	border: 2px solid #665750;
	color: #4A4A4A;
}

.popup_group .popup_info .btn.active {
	background-color: #665750;
	color: #FFFFFF;
}

.popup_group .popup_use {
	width: 345px;
	padding: 25px 0;
	display: none;
}

.popup_group .popup_use .btns {
	text-align: center;
}

.popup_group .popup_use .btn {
	background-color: #665750;
	border-radius: 5px;
	width: 100%;
	max-width: 138px;
	height: 44px;
	line-height: 44px;
	color: #fff;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 1.07px;
	text-align: center;
	display: inline-block;
	margin: 30px 6px 0;
	border: 2px solid #665750;
}

.popup_group .popup_use .btn.cancel {
	background-color: #fff;
	color: #4A4A4A;
}

.popup_group .popup_use2 {
	width: 825px;
	padding: 50px 66px;
	display: none;
}

.popup_group .popup_use2 h2 {
	margin-bottom: 30px;
}

.popup_group .popup_use2 .row {
	margin-bottom: 10px;
}

.popup_group .popup_use2 .row .name {
	font-size: 15px;
	font-weight: 500;
	letter-spacing: 1px;
	line-height: 18px;
	margin-bottom: 15px;
}

.popup_group .popup_use2 input[type="text"] {
	margin-bottom: 20px;
}

.popup_group .popup_use2 input[type="checkbox"]+label,
.popup_group .popup_use2 input[type="radio"]+label {
	border-radius: 5px;
	line-height: 150%;
}

.popup_group .popup_use2 .row2 {
	display: flex;
}

.popup_group .popup_use2 .row2>div {
	margin-right: 7px;
}

.popup_group .popup_use2 input[type="text"] {
	border-radius: 5px;
	width: 164px;
}

.popup_group .popup_use2 .btn {
	background-color: #E4E4E4;
	border-radius: 24px;
	width: 375px;
	height: 48px;
	color: #FFFFFF;
	font-size: 17px;
	font-weight: 500;
	letter-spacing: 1.13px;
	line-height: 48px;
	text-align: center;
	margin: 70px auto 0;
	display: block;
}

.popup_group .popup_use2 .btn.submit {
	background-color: #665750;
	color: #FFFFFF;
}

.popup_group .popup_appointment {
	width: 825px;
	padding: 50px 66px;
	display: none;
}

.popup_group .popup_appointment h2 {
	margin-bottom: 30px;
}

.popup_group .popup_appointment h2 span {
	display: none;
}

.popup_group .popup_appointment .row {
	margin-bottom: 10px;
}

.popup_group .popup_appointment .row .name {
	font-size: 15px;
	font-weight: 500;
	letter-spacing: 1px;
	line-height: 18px;
	margin-bottom: 15px;
}

.popup_group .popup_appointment input[type="text"] {
	margin-bottom: 20px;
}

.popup_group .popup_appointment textarea {
	height: 80px;
}

.popup_group .popup_appointment .selected {
	background-color: #D7D1CD;
}

.popup_group .popup_appointment .btns {
	text-align: center;
}

.popup_group .popup_appointment .btn {
	background-color: #E4E4E4;
	border-radius: 24px;
	width: 228px;
	height: 48px;
	color: #FFFFFF;
	font-size: 17px;
	font-weight: 500;
	letter-spacing: 1.13px;
	line-height: 48px;
	text-align: center;
	margin: 70px 14px 0;
	display: inline-block;
}

.popup_group .popup_appointment .btn.submit {
	background-color: #665750;
	color: #FFFFFF;
}

.popup_group .popup_appointment_date {
	width: 825px;
	padding: 50px 66px;
	display: none;
}

.popup_group .popup_appointment_date h2 {
	margin-bottom: 40px;
	text-align: center;
}

.popup_group .popup_appointment_date .mobile {
	display: none;
}

.popup_group .popup_appointment_date table {
	width: 100%;
	border-top: 1px solid #D3D3D3;
	border-left: 1px solid #D3D3D3;
	border-spacing: 0;
	border-collapse: separate;
}

.popup_group .popup_appointment_date table td {
	border-right: 1px solid #D3D3D3;
	border-bottom: 1px solid #D3D3D3;
	text-align: center;
	vertical-align: middle;
	padding: 5px;
	color: #4A4A4A;
	font-size: 12px;
	font-weight: 400;
}

.popup_group .popup_appointment_date table td span {
	display: block;
}

.popup_group .popup_appointment_date table td.selected {
	background: #d6d1cd;
}

.popup_group .popup_appointment_date .items {
	cursor: pointer;
}

.popup_group .popup_appointment_date .items2 span {
	text-decoration: line-through;
}

.popup_group .popup_appointment_date .btn {
	background-color: #665750;
	border-radius: 24px;
	width: 375px;
	height: 48px;
	display: block;
	color: #FFFFFF;
	font-size: 17px;
	font-weight: 500;
	letter-spacing: 1.13px;
	line-height: 48px;
	text-align: center;
	margin: 70px auto 0;
}

.popup_group .popup_appointment_date .btn.disable {
	background-color: #E4E4E4;
	color: #FFFFFF;
}

@media (max-width: 500px) {
	.login .row {
		margin: 0 auto 10px;
		width: 90%;
	}
	.login .btn {
		width: 90%;
	}
	.header {
		display: none;
	}
	.close {
		display: block;
		background-image: url("../img/icon_close_w@3x.png");
		background-size: cover;
		width: 22px;
		height: 22px;
		position: fixed;
		top: 20px;
		right: 15px;
		z-index: 4;
		cursor:pointer;
	}
	.back {
		content: " ";
		display: block;
		background-image: url("../img/icon_back@3x.png");
		background-size: cover;
		width: 30px;
		height: 30px;
		position: fixed;
		left: 15px;
		top: 15px;
		z-index: 3;
	}
	.content {
		padding-top: 64px;
		padding-left: 0;
	}
	.content.booking .menu {
		text-align: center;
	}
	.content.booking .table>div {
		overflow: auto;
	}
	.content.booking table {
		width: auto;
	}
	.content.booking table td>div {
		padding: 5px 10px;
		white-space: nowrap;
	}
	.content.booking2 {
		padding: 64px 0;
	}
	.content.booking2 .menu {
		text-align: center;
		position: fixed;
		top: 0;
	}
	.content.booking2 .btn {
		border-radius: 0;
		position: fixed;
		bottom: 0;
		width: 100%;
		margin-bottom: 0;
	}
	.content.booking3 {
		padding: 64px 0;
	}
	.content.booking3 .menu {
		text-align: center;
		position: fixed;
		top: 0;
		z-index: 2;
	}
	.content.booking3 .table {
		display: block;
	}
	.content.booking3 .table .tr {
		display: block;
		position: relative;
		border-bottom: 1px solid #ECECEC;
		overflow: hidden;
		margin: 30px 0;
	}
	.content.booking3 .table .tr .td {
		display: block;
		border: 0;
		padding: 0;
	}
	.content.booking3 .table .tr .td:nth-child(2) {
		padding-top: 20px;
		padding-bottom: 8px;
	}
	.content.booking3 .table .tr .td:nth-child(3) {
		margin-bottom: 25px;
	}
	.content.booking3 .table .tr .td.right {
		position: absolute;
		top: 0;
		right: 0;
	}
	.content.booking3 .table .tr .td .btn {
		display: block;
		margin: 0;
		position: relative;
	}
	.content.booking3 .table .tr .td .btn:nth-child(2) {
		margin-top: 20px;
	}
	.content.booking3 .btn {
		border-radius: 0;
		position: fixed;
		bottom: 0;
		width: 100%;
		margin-bottom: 0;
	}
	.content.coupon {
		padding-top: 130px;
	}
	.content.coupon h2 {
		display: block;
		background-color: #665750;
		height: 55px;
		color: #FFFFFF;
		font-size: 17px;
		font-weight: 500;
		letter-spacing: 1.13px;
		line-height: 55px;
		text-align: center;
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		margin: 0;
	}
	.content.coupon .menu {
		top: 55px;
		height: auto;
		background: #D7D1CD;
		text-align: center;
	}
	.content.coupon .menu li {
		font-size: 16px;
		width: 40%;
		padding: 8px 0;
		text-align: center;
	}
	.content.coupon .menu li a {
		color: #4A4A4A;
	}
	.content.coupon .menu li.active {
		border-bottom: 2px solid #665750;
		color: #4A4A4A;
	}
	.content.coupon .table {
		padding: 0 20px;
	}
	.content.coupon .filter {
		left: 0;
		top: 95px;
		border-bottom: 1px solid #D7D1CD;
	}
	.content.coupon .filter ul {
		padding: 0 5px;
		background-color: #fff;
	}
	.content.coupon-info {
		padding: 64px 0;
	}
	.content.coupon-info .menu {
		text-align: center;
		position: fixed;
		top: 0;
		z-index: 2;
	}
	.content.coupon-info .info {
		margin: 25px 20px;
	}
	.content.coupon-info .info2 {
		margin: 0 20px;
	}
	.content.booking-info {
		padding: 64px 0;
	}
	.content.booking-info .menu {
		text-align: center;
		position: fixed;
		top: 0;
		z-index: 2;
	}
	.content.booking-info .info {
		margin: 25px 20px;
	}
	.content.booking-info .info2 {
		margin: 0 20px;
	}
	.content.coupon-cancel {
		padding: 64px 0;
	}
	.content.coupon-cancel .row {
		padding: 0 20px;
	}
	.content.coupon-cancel .menu {
		text-align: center;
		position: fixed;
		top: 0;
		z-index: 2;
	}
	.content.coupon-cancel .btn {
		border-radius: 0;
		position: fixed;
		bottom: 0;
		width: 100%;
		margin-bottom: 0;
	}
	.content.coupon-search {
		padding-top: 95px;
	}
	.content.coupon-search h2 {
		display: block;
		background-color: #665750;
		height: 55px;
		color: #FFFFFF;
		font-size: 17px;
		font-weight: 500;
		letter-spacing: 1.13px;
		line-height: 55px;
		text-align: center;
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		margin: 0;
		z-index: 2;
	}
	.content.coupon-search .menu {
		top: 55px;
		height: auto;
		background: #D7D1CD;
		text-align: center;
	}
	.content.coupon-search .menu li {
		font-size: 16px;
		width: 40%;
		padding: 8px 0;
		text-align: center;
	}
	.content.coupon-search .menu li a {
		color: #4A4A4A;
	}
	.content.coupon-search .menu li.active {
		border-bottom: 2px solid #665750;
		color: #4A4A4A;
	}
	.content.coupon-search .btn {
		border-radius: 0;
		position: fixed;
		bottom: 0;
		width: 100%;
		margin-bottom: 0;
	}
	.content.coupon-record {
		padding-top: 90px;
	}
	.content.coupon-record h2 {
		display: block;
		background-color: #665750;
		height: 55px;
		color: #FFFFFF;
		font-size: 17px;
		font-weight: 500;
		letter-spacing: 1.13px;
		line-height: 55px;
		text-align: center;
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		margin: 0;
		z-index: 2;
	}
	.content.coupon-record .menu {
		display: none;
	}
	.content.coupon-record .table {
		padding: 0 20px;
	}
	.content.coupon-record .filter {
		left: 0;
		top: 55px;
	}
	.content.coupon-record .filter ul {
		padding: 0 15px;
	}
	.content.coupon-record2 {
		padding-top: 90px;
	}
	.content.coupon-record2 h2 {
		display: block;
		background-color: #665750;
		height: 55px;
		color: #FFFFFF;
		font-size: 17px;
		font-weight: 500;
		letter-spacing: 1.13px;
		line-height: 55px;
		text-align: center;
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		margin: 0;
		z-index: 2;
	}
	.content.coupon-record2 .menu {
		display: none;
	}
	.content.coupon-record2 .table {
		padding: 0 20px;
	}
	.content.coupon-record2 .filter {
		left: 0;
		top: 55px;
	}
	.content.coupon-record2 .filter ul {
		padding: 0 15px;
		text-align: center;
	}
	.content.coupon-record2 .filter ul li a,
	.content.coupon-record2 .filter ul li {
		width: 100%;
		color: #363636;
	}
	.content.coupon-record2.coupon-cancel {
		padding-top: 64px;
	}
	.content.coupon-record3 {
		padding-top: 120px;
	}
	.content.coupon-record3 h2 {
		display: block;
		background-color: #665750;
		height: 55px;
		color: #FFFFFF;
		font-size: 17px;
		font-weight: 500;
		letter-spacing: 1.13px;
		line-height: 55px;
		text-align: center;
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		margin: 0;
		z-index: 2;
	}
	.content.coupon-record3 h3 {
		padding-left: 20px;
	}
	.content.coupon-record3 .menu {
		display: none;
	}
	.content.coupon-record3 .table {
		padding: 0;
	}
	.content.coupon-record3 .table .tr {
		align-items: center;
	}
	.content.coupon-record3 .table .info {
		display: block;
	}
	.content.coupon-record3 .table .pic {
		width: 130px;
		height: 150px;
	}
	.content.coupon-record3 .table .btn {
		margin-left: 0;
		margin-top: 18px;
	}
	.popup_group .popup_info {
		width: 90%;
	}
	.popup_group .popup_info {
		margin-top: 30px;
	}
	.popup_group .popup_appointment_date {
		width: 100%;
		min-height: 100vh;
		margin: 0;
		border-radius: 0;
		padding: 0;
	}
	.popup_group .popup_appointment_date h2 {
		background: #665750;
		color: #fff;
		padding: 0;
		height: 55px;
		line-height: 55px;
		position: fixed;
		top: 0;
		width: 100%;
	}
	.popup_group .popup_appointment_date .content {
		padding: 70px 15px 70px 15px;
		height: calc(100vh - 200px);
		overflow: auto;
	}
	.popup_group .popup_appointment_date .btn {
		border-radius: 0;
		position: fixed;
		bottom: 0;
		margin: 0 -15px;
		width: 100%;
	}
	.popup_group .popup_appointment_date .mobile {
		display: table;
	}
	.popup_group .popup_appointment_date .mobile span {
		white-space: nowrap;
		padding: 0 5px;
	}
	.popup_group .popup_appointment_date .pc {
		display: none;
	}
	.popup_group .popup_appointment {
		width: 100%;
		min-height: 100vh;
		margin: 0;
		border-radius: 0;
		padding: 0;
	}
	.popup_group .popup_appointment h2 {
		background: #665750;
		color: #fff;
		padding: 0;
		height: 55px;
		/*line-height: 55px;*/
		position: fixed;
		top: 0;
		width: 100%;
	}
	.popup_group .popup_appointment h2 span {
		display: block;
		text-align: left;
		background-color: #D7D1CD;
		height: 38px;
		line-height: 38px;
		padding: 0 20px;
	}
	.popup_group .popup_appointment h2 span span {
		display: inline-block;
		color: #7B7D7E;
		font-size: 14px;
		font-weight: 400;
		letter-spacing: 0.93px;
		padding: 0;
		background: transparent;
	}
	.popup_group .popup_appointment h2 span .line {
		color: #fff;
		padding: 0 10px;
	}
	.popup_group .popup_appointment .row {
		padding: 0 20px;
	}
	.popup_group .popup_appointment .content {
		padding-bottom: 50px;
		padding-top: 130px;
		height: calc(100vh - 1px);
		overflow: auto;
	}
	.popup_group .popup_appointment .cancel {
		display: none;
	}
	.popup_group .popup_appointment .btn {
		border-radius: 0;
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		margin: 0;
	}
	.popup_group .popup_use2 {
		width: 100%;
		min-height: 100vh;
		margin: 0 !important;
		border-radius: 0 !important;
		padding: 0 !important;
	}
	.popup_group .popup_use2 h2 {
		background: #665750;
		color: #fff;
		padding: 0;
		height: 55px;
		line-height: 55px;
		position: fixed;
		top: 0;
		width: 100%;
	}
	.popup_group .popup_use2 h2 span {
		display: block;
		text-align: left;
		background-color: #D7D1CD;
		height: 38px;
		line-height: 38px;
		padding: 0 20px;
	}
	.popup_group .popup_use2 h2 span span {
		display: inline-block;
		color: #7B7D7E;
		font-size: 14px;
		font-weight: 400;
		letter-spacing: 0.93px;
		padding: 0;
		background: transparent;
	}
	.popup_group .popup_use2 h2 span .line {
		color: #fff;
		padding: 0 10px;
	}
	.popup_group .popup_use2 .row {
		padding: 0 20px;
	}
	.popup_group .popup_use2 .row2>div {
		width: 50%;
	}
	.popup_group .popup_use2 .content {
		padding-bottom: 50px;
		padding-top: 80px;
		height: calc(100vh - 1px);
		overflow: auto;
	}
	.popup_group .popup_use2 input[type="checkbox"]+label,
	.popup_group .popup_use2 input[type="radio"]+label {
		border-radius: 5px;
		line-height: 150%;
		min-width: auto;
		width: 29%;
	}
	.popup_group .popup_use2 input[type="text"] {
		border-radius: 5px;
		width: 100%;
	}
	.popup_group .popup_use2 .btn {
		border-radius: 0;
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		margin: 0;
	}
	.popup_filter {
		left: 0;
		top: 130px;
	}
}

.popSelect {
	color: #4A4A4A; background: #fff;
	border: 1px solid #665750;
	border-radius: 5px;
	padding: 7px;
	font-size: 14px;
	font-weight: 400;
	height: 36px;
}

.popSelect2 {
	width: 100%;
	color: #4A4A4A; background: #fff;
	border: 1px solid #665750;
	border-radius: 5px;
	padding: 7px;
	font-size: 14px;
	font-weight: 400;
	height: 36px;
}
